nav {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 99;
  // padding-top: 40px;
  padding: 40px 50px 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    background-image: url(../images/Logo.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 167px;
    height: 55px;
  }
  .links {
    max-width: 551px;
    display: flex;
    align-items: center;
    // justify-content: space-evenly;

    a {
      text-decoration: none;
      color: black;
      font-family: Caveat;
      font-size: 25px;

      margin-left: 41px;
    }
    #login {
      padding: 0;
      height: 52px;
      line-height: 52px;
      width: 158px;
      background-color: $yellow;
      text-align: center;

      border-radius: 25px;

      box-shadow: $shadow-1, $shadow-2;
    }
  }
  .mobile {
    display: none;
  }
  .fa-bars {
    font-size: 20px;
  }
}

.mobile-nav {
  display: none;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
  z-index: 5;
  .mobile-menu {
    font-family: Lato;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    height: 300px;

    z-index: 7;
    a {
      font-size: 20px;
      text-decoration: none;
      color: black;
    }
  }
  .mobile-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $mint;
    z-index: 1;
  }
}

@media screen and (max-width: 800px) {
  nav {
    .links {
      display: none;
    }
    .mobile {
      display: inline;
      width: 40px;
    }
  }
}
