// import fonts for project
@font-face {
  font-family: Caveat;
  src: url(../css/fonts/Caveat-Regular.ttf);
}

@font-face {
  font-family: Caveat-bold;
  src: url(../css/fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: Gill;
  src: url(../css/fonts/GillSans.ttf);
}
@font-face {
  font-family: Gill-light;
  src: url(../css/fonts/GillSans-Light.ttf);
}
@font-face {
  font-family: Gill-italic;
  src: url(../css/fonts/GillSans-Italic.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../css/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-light;
  src: url(../css/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: Lato-italic;
  src: url(../css/fonts/Lato-Italic.ttf);
}

// html reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#content {
  min-height: calc(100vh - 165px);
  padding-top: 90px;
  width: 100%;
}
